@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

$speed: 1s / 20;
$offset: -24px;
$bgBody: #f2f2f2;
$alpha: random(100)/100;

@mixin f400 {
  font-family: "Ubuntu", Tahoma, Helvetica;
  font-weight: 400;
}

@mixin f400i {
  @include f400;
  font-style: italic;
}

@mixin f700 {
  @include f400;
  font-weight: 700;
}

body {
  background-color: $bgBody;
}

#app {
  position: relative;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header {
  @include f400;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 10px 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0px -1px 3px 1px rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD
.header-versions a {
  color:#000;
}
=======
.header-versions {
  a {
    color: #000;
    @include underline;
  }
>>>>>>> b0a2347... It has been builded in production

  span {
    padding: 0 5px;
    color: silver;
  }
}

.header-contacts {
  line-height: 1.6;
  font-size: 0.8em;
}

.header-contacts a {
  color: #000;
}

/* start preloader */
.lds-ring {
  display: block;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fcf;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: grey transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end preloader */

.card {
  position: relative;

  width: 300px;

  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;

  font-family: Tahoma;
}

.card:hover .bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: silver;
  border-radius: 10px;
}

.preview {
  position: relative;
  margin-bottom: 10px;
  max-height: 400px;
}

.preview__img {
  border-radius: 5px;
  height: 200px;
  overflow: hidden;
}

.img-item {
  width: 100%;
  transition: all 1s linear 0s;
  position: relative;
  top: 0;
}

.bg {
  position: absolute;
  top: 20px;
  left: 20px;
  right: -5px;
  bottom: 40px;
  z-index: -1;
  background-color: lightgray;
  border-radius: 20px 20px 20px 50px;

  transition: all .2s ease-out;
}

.title {
  @include f700;
  margin-bottom: 10px;
}

.title__link {
  font-size: 1.2em;
  font-weight: 800;
  color: #000;
<<<<<<< HEAD
  text-decoration: none;
}

.title__link:hover {
  text-decoration: underline;
=======
  @include underline;
>>>>>>> b0a2347... It has been builded in production
}

.title__time {
  color: #000;
}
<<<<<<< HEAD
=======

.action-menu {
  position: relative;
  border-radius: 5px 5px 0 0;

  button {
    @include f700;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.action-menu_droplist {
  @include f400;
  position: absolute;
  right: 0;
  top: 16px;
  background-color: #fff;
  border-radius: 5px 0 5px 5px;
  padding: 0 7px;

  li {
    margin: 4px 0;
  }

  a {
    color: #000;
    font-size: 0.8em;
    @include underline;
  }

  display: none;
}

.action-menu:hover {
  background-color: #fff;

  .action-menu_droplist--toggle {
    display: block;
  }

}

>>>>>>> b0a2347... It has been builded in production

.content {
  width: 100%;
  height: 50px;
  background-color: green;
  font-size: 1em;
}

.content-item {
  color: #fff;
  font-family: 'Exo', sans-serif;
}

.stack {
  @include f400;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.stack li {
  margin: 0 5px 5px 0;
  cursor: default;

  overflow: hidden;
}

.stack__item {
  padding: 2px 5px;
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  transition: all 0.1s linear 0s;

  transform: translate(0, $offset);
}

@for $i from 1 through 10 {
  .stack--show li {
    &:nth-child(#{$i}) p {
      transition-delay: $i * $speed;
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

@for $i from 1 through 10 {
  .stack--hide li {
    &:nth-child(#{$i}) p {
      transition-delay: $i * $speed;
      opacity: 0;
      transform: translate(0, $offset);
    }
  }
}
