* {
	/*border: 1px dotted;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: url(../img/bg-img.png);
	font-family: Calibri;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

input {
	border: 0;
}

.main {
	max-width: 980px;
	min-width: 320px;
	margin: 20px auto 0 auto;
}

.logo {}

nav {
	color: #4b5053;
	margin: 10px 0;
	max-width: 980px;
	min-width: 320px;
}

nav a {
	margin-right: 20px;
	position: relative;
	color: #4b5053;
}

nav a:after {
	position: absolute;
	content: "";
	left:0;
	bottom: -2px;
	height: 3px;
	width: 0;
	background: #f36c4f;
	transition: all .05s linear;
}

nav a:hover:after {
	width: 100%;
}

nav div {
	width: 34px;
	height: 34px;
	cursor: pointer;
	float: right;
	margin-left: 15px;
	border-radius: 50px;
	transition: background .1s ease-out;
}

#google {
	background: url(../img/snet.png) bottom left no-repeat;
	background-size: 109px;
}

#google:hover {
	background: url(../img/snet.png) top left no-repeat;
	background-size: 109px;
}

#igor {
	background: url(../img/snet.png) bottom center no-repeat;
	background-size: 110px;
}

#igor:hover { 
	background: url(../img/snet.png) top center no-repeat;
	background-size: 110px;
}

#vk {
	background: url(../img/snet.png) bottom right no-repeat;
	background-size: 110px;
}

#vk:hover {
	background: url(../img/snet.png) top right no-repeat;
	background-size: 110px;
}

.my-slider {
	width: 100%;
	/*min-width: 320px;*/
	height: 300px;
	background: #fff url("../img/triangle.gif") center center no-repeat;/*url(../img/bg-slide.png)*/
	background-size: 35%;
	margin-top: 20px;
	/*overflow: hidden;*/
}

.my-slider img {
	width: 300px;
	height: auto;
	margin: 0;
	padding: 0;
}

#header-div {
	color: #777;
	font-style: italic;
}

#late-down, #other-down, #about {
	margin: 0;
	padding: 0;
	max-width: 980px;
	min-width: 320px;
	line-height: 1;
}

figcaption {
	font-weight: bold;
}

#late-down figure, #about figure, #other-down figure  {
	width: 310px;
	height: 200px;
	display: inline-block;
	position: relative;
	margin: 0 20px 50px 0;

}

#late-down figure:nth-child(3),
#late-down figure:last-child,
#about figure:nth-child(3),
#about figure:last-child,
#other-down figure:nth-child(3),
#other-down figure:last-child {
	margin-right: 0;
}

.zoom-plus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font: 34pt Helvetica;
}

/*#late-down img {
	width: 310px;
	height: 220px;
}*/

#about figure {
	margin-bottom: 0;
	display: inline-table;

}

#about figure p:first-child {
	margin-top: 0;
}

#about figure a {
	display: inline-block;
	color: #4b5053;
	margin: 1px 0;
	padding: 0 55px;
}

#other-down figure{
	height: 100%;
}

.commentLike {
	float: right;
	/*width: 70px;*/
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.comment {
	background: url(../img/comment.png) left center no-repeat;
	background-size: 13px;
	padding-left: 20px;
	cursor: pointer;
}

.like {
	background: url(../img/like.png) left center no-repeat;
	background-size: 13px;
	padding-left: 20px;
	margin-right: 10px;
	cursor: pointer;
}

input[type="search"] {
	height: 40px;
	width: 250px;
	border-radius: 5px;
}

input[type="submit"] {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	background: #fff;
	color: #acacac;
	font-size: 16px;
	font-style: italic;
	margin-left: 5px;
}

input::-webkit-input-placeholder  {
	font-style: italic;
}

::-moz-placeholder {
	font-style: italic;
}
