* {
	/*border: 1px solid;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sbi {
    font-family: 'open_sanssemibold_italic';
}

.i {
    font-family: 'open_sansitalic';
}

.sb {
    font-family: 'open_sanssemibold';
}

.l {
    font-family: 'open_sanslight';
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: "open_sansregular";
	max-width: 1920px;
}

body h1 {
	font: 100 44px 'open_sanslight';
	color: #404040;
}
/*---*/
#menup {
	background: #404040;
	font: 17px 'open_sansregular';
}

#menup nav {
	margin: 12px 0;
}

#menup nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
}

#menup nav:last-child a {
	margin-right: 0;
}

#menup nav a:hover {
	color: #f5af19;
}

#menup nav .active {
	border-bottom: 3px solid #ffb515;
	padding-bottom: 9px;
}

#menup nav .active:hover {
	color: #fff;
}

#menup .login {
	color: #f5af19;
}
/*---*/
.logo {
	text-align: center;
}

.status {
	padding: 25px 0 0;
}

.logo p,
.status {
	font-family: 'open_sanslight';
    font-style: italic;
}

.tel {
	width: 300px;
	padding: 15px 0;
	margin: auto;
}

.tel img {
	margin: 8px 0 0 20px;
}

.tel div p {
	margin: 0;
}

.tel div p {
	font: 27px 'open_sanssemibold';
	color: #404040;
}

.tel div a {
	font: 18px 'open_sansregular';
	color: #de410a;
	border-bottom: 1px dotted #de410a;
	text-decoration: none;
}

.adress {
	font: 18px 'open_sansregular';
	padding: 0 55px; 
}

.adress div {
	width: 260px;
	margin: auto;
	padding: 10px 0;
}

.adress img {
	margin-right: 5px;
}

.adress p {
	margin: 12px 0 0 5px;
}

.adress p:first-child span {
	border-bottom: 1px solid silver
}

.adress p:last-child span {
	border-bottom: 1px dotted silver;
	/*font: 'open_sansregular';*/
}
/*---*/
#menudown {
	background: #f2f2f2;
	font: 25px 'open_sanssemibold';
}

#menudown a {
	color: #de410a;
	border-bottom: 1px dotted #de410a;
	text-decoration: none;
}
/*---*/
#about h1, 
#dao h2 {
	margin-top: 0;
}

#about .row div:first-child span {
	border-bottom: 1px solid silver;
}
/*---*/
#dao {
	background: #f2f2f2;
	font-size: 16px;
}

#dao .row div:nth-child(3) {
	padding-left: 0;
}

#dao ul {
	margin: 0;
	padding: 0;
}

#dao ul li {
	list-style: none;
	margin-bottom: 5px;
}

#dao ul li a {
	color: #de410a;
}

#dao ul li span {
	background: #ffb515;
	color: #fff;
	font: 12px "open_sanssemibold";
	padding: 1px 4px;
	border-radius: 1px;
}

#dao h2 a {
	color: #de410a;
	border-bottom: 1px solid #c0c0c0;
	text-decoration: none;
	font-family: 'open_sanssemibold';
}

.work {
	background: #fff;
	border-bottom: 3px solid #ffb515;
	padding: 10px 0 20px 0;
}

#realproj img {
	margin: auto;
}

#realproj .slick-dots {
	bottom: -45px;
}

#realproj .slick-dots .slick-active button::before {
	background: #ffb515;
}

#realproj .slick-dots .slick-active button:hover:before {
	border: none; 
}
#realproj .slick-dots li button::before {
	content: '';
	border: 2px solid #ffb515;
	border-radius: 50px;
	width: 15px;
	height: 15px;
	opacity: 1;
}

#realproj .slick-dots li button:hover:before {
	border: 2px solid #de410a;
}
/*---*/
#statAreg .row div:nth-child(3) span {
	line-height: 2.3;
	font-size: 12px;

}
#statAreg .row div:nth-child(3) img {
	margin-right: 5%;
}
/*---*/
#facts a {
	text-decoration: none;
}

#facts ul {
	list-style: none;
	position: relative;
}

#facts ul li {
	margin-left: -15px;
}

#facts ul li:before {
	position: absolute;
	content: url(images/point.png);
	left: 0;
}

#facts h1 {
	color: red;
	text-decoration: none;
	border-bottom: 1px dotted silver;
	display: inline-block;
	cursor: pointer;
}

#facts h1:hover {
	border-bottom: 1px solid silver;
}

#facts table * {
	border: 1px solid #e6e6e6;
	color: #404040;
}

#facts table thead {
	background: #f2f2f2;
	text-align: left;
}

#facts table thead th {
	padding: 15px 45px 15px 15px;
	font-size: 16px;
}

#facts table tbody th {
	padding: 10px 30px 10px 10px;
}

#facts table tbody td {
	padding: 10px 30px 10px 10px;
}

#author {
	background: #f2f2f2;
	border-bottom: 3px solid #ffb515;
	padding: 30px;
}

#author p,
#author h2,
#author p,
#author ul {
	margin: 5px;
}
/*---*/
#program .po1c {
	width: 360px;
	line-height: .2
}

#program .po1c p:first-child {
	font-size: 18px;
}
/*---*/
#update li {
	line-height: 2.5	
}

#update ol { 
	counter-reset: item; 
	margin: 0;
	position: relative;
}

#update ol > li { display: block;}

#update ol > li:before { 
	content: counters(item, ""); 
	counter-increment: item;
	position: absolute;
	left: 10px;
	margin: 0 10px 0 0;
	color: #ffb515; 
	font: bold 20px 'open_sanssemibold';
}

#update ul {
	margin: 0;
	position: relative;
	list-style-image: url(images/point.png);  
}

#update ul li:before { 
	
}
/*---*/
#costcloud img{
	margin-right: 10px;
}

#costcloud p {
	margin-bottom: 0;
}

#costcloud ul {
	margin: 0 0 0 15px;
	position: relative;
	list-style-image: url(images/point.png); 
	text-indent: 5px;
	line-height: 2
}
/*---*/
#masterDS ul {
	list-style-image: url(images/point.png); 
	line-height: 1.6;
	padding-left: 20px;
	/*margin: 0;*/
}

#masterDS ul li {
	margin: 8px 0;
}
/*---*/
#safety {
	background: #f2f2f2;
}

#safety img {
	margin-right: 10px;
}
/*---*/
#team {

}

#team #career {
	background: #f2f2f2;
	padding: 30px 0 30px 25px;
	font-size: 20px;
	border-bottom: 3px solid #ffb515;
	position: relative;
	/*vertical-align: middle;*/
}

#team #career img {
	position: absolute;
	right: 15px;
	top: -30px;
}

#team #career a {
	text-decoration: none;
	color: #de410a;
	border-bottom: 1px solid silver;
	background: #f2f2f2;
}

#team #career a:hover {
	border-bottom: none;
}

/*#team #tabs ul {
	list-style: none;
	margin: 0; 
}*/

#team #tabs > div {
	background: #f2f2f2;
}

#team .alex {
	/*background: #f2f2f2;*/
}

#team .alex > img {
	padding: 35px 0 30px 30px;
	margin-right: 50px;
}

#team .alex > div {
	padding: 10px 0 0 0;
}
/*---*/
#exp {
	background: #f2f2f2;
}

#exp .row:first-child div {
	padding: 0;
}

#exp .row:first-child h1 {
	background: #f2f2f2;
	margin: 0;
	padding: 15px 0 35px 0;
}

#exp hr {
	border: 1px solid #f2f2f2;
	width: 100%
}

.fff {
	background: #fff;
	border-bottom: 3px solid #ffb515;
}

.fff > div {
	padding: 0
}

#exp .row h2,
#exp .row p,
#exp .row img {
	padding: 0 30px;
}

#exp .video div,
#exp .video h2 {
	padding: 0;
}

#exp .video div:nth-child(2) img  {
	padding: 0 10px 0 0;
}

#exp .video div:nth-child(3) img{
	padding: 0 0 0 10px;
} 

#exp .workwith h2 {
	/*background: #000;*/
	padding: 0
}

#exp a {
	color: #de410a;
	border-bottom: 1px solid silver;
	text-decoration: none;
}

#exp .workwith div {
	padding: 0;
}

#exp .workwith .slick-arrow {
	/*border: 1px solid #000;*/
	height: 50px;
	width: 25px;
}

#exp .slick-prev {
	left: -35px;
}

#exp .slick-prev::before {
	content: url("images/leftArrow.png");
}

#exp .slick-next::before {
	content: url("images/rightArrow.png");
}

#exp #works img{
	padding: 5px 10px 5px 0;
}

#exp .workwith .feedback {
	padding: 0 15px;
}

.feedback div {
	margin-top: 5px;

}

.feedback button {
	background: #ffb515;
	border: 0;
	border-bottom: 2px solid #b27f0f;
	padding: 10px 30px;
	font-size: 18px;
	color: #fff;
}

.feedback button:hover {
	color: #404040
}
/*---*/
#ourblog h1 {
	display: inline-block;
	border-bottom: 1px solid silver;
}

#ourblog > h2 {

}

#ourblog .date {
	color: #bfbfbf;
}

#ourblog div .title {
	font-size: 18px; 
	color: #de410a;
	border-bottom: 1px solid silver; 
	text-decoration: none;
}

#ourblog div .title:hover {
	border-bottom: 0;
}

#ourblog div .next {
	color: #de410a;
	border-bottom: 1px solid silver; 
	text-decoration: none;
} 

#ourblog .pressrelize > p img,
#ourblog .news > p img {
	padding: 0 0 2px 2px ;
}

#ourblog .pressrelize div img,
#ourblog .lessons div img  {
	padding: 15px 0;
	width: 100%
}