<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" class="wrap">
      <div
        class="card"
        v-for="card in data"
        :key="card"
        @mouseover="onMouseOver($event, card)"
        @mouseleave="onMouseLeave($event, card)"
      >
        <div class="preview">
          <div class="preview__img">
            <img
              class="img-item"
              :class="{scroll: card.scroll}"
              :src="covers[card.cover]"
              :alt="card.title"
              :style="card.styles"
            />
          </div>
        </div>
        <div class="title">
          <a :href="card.source" class="title-item title__link"> {{card.title}} </a>
        </div>
        <ul class="stack" :class="{'stack--show': card.hover}">
          <li v-for="stackElm in card.stack" :key="stackElm">
            <p class="stack__item">{{stackElm}}</p>
          </li>
        </ul>
        <div class="bg"></div>
        <!-- <div class="title">
          <a href="../works/njs0_mini-constructor/index.html" class="title-item title__demo">Demo</a>
              <span class="title-item title__time">6h</span>
              <span class="title-item title__percent">95%</span>
        </div> -->
        <!-- <div class="content">
          <h2 class="content-item content__title">Mini constructor</h2>
              <p class="content-item content__describe">This mini constructor was developed via native javascript for view of first look</p>
              <a class="content-item" href="https://vk.com/doc2000002202_440831900?hash=d587464e78ed55cf9f&dl=4b5e0dfee2ac6c566e">Official site</a>
        </div> -->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  </body>
</html>
