<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test tasks</title>
  </head>
  <body>
    <div id="app1">
      <div class="header">
        <p class="header-title">Portfolio version 0.3</p>
        <p class="header-versions">
          <a href="/v0_3/dist/index.html">Home</a>
          <span>\</span>
          <a href="https://vk.cc/azgGVj">v0.1</a>
          <span>\</span>
          <a href="https://vk.cc/7Zwpj9">v0.2</a>
          <span>\</span>
          <a href="http://z-igor.github.io/v0_3/dist/index.html">v0.3</a>
        </p>
        <div class="header-contacts">
          <p>
            Telegram:
            <a href="tg://resolve?domain=igkasper">@igkasper</a>
          </p>
          <p>
            Email:
            <a href="mailto:for_business_inn_01@mail.ru">
              for_business_inn_01@mail.ru
            </a>
          </p>
        </div>
      </div>
      <div class="wrap">
        <table class="table-tasks">
          <thead>
            <tr>
              <th class="task-nubmer">#</th>
              <th class="task-title">Название</th>
              <th class="task-url">URL</th>
              <th class="task-add-url">Дополнительные URL</th>
            </tr>
          </thead>
          <!-- <tfoot></tfoot> -->
          <tbody>
            <tr v-for="(task, i) in tasks" :key="task.id">
              <td class="task-nubmer">{{i+1}}</td>
              <td class="task-title">{{task.title}}</td>
              <td class="task-url">
                <a :href="task.url" target="_blank">github page</a>
              </td>
              <td class="task-add-url">
                <a
                  v-for="url in task.addUrls"
                  :key="url"
                  :href="url[Object.keys(url)]"
                  target="_blank"
                  >{{...Object.keys(url)}}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue@2.6.12"
    ></script>
  </body>
</html>
