* {
    /*border: 1px solid;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png");
}

.grid {
    position: relative;
}

.grid-item {}

.grid-item--width2 {
    width: 200px;
    margin-bottom: 50px;
}

.video {
    border: 1px solid silver;
    border-radius: 2px;
    cursor: pointer;
}

.video:hover+.playpause {
    opacity: 1;
}

.playpause {
    border: 1px solid lightblue;
    border-radius: 50px;
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    opacity: 0.9;
    padding: 0;

    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: #fff;
}

.playpause img {
    width: 22px;
    vertical-align: middle;
}

.playpause:hover {
    opacity: 1;
}

.counts {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    background: rgba(0,0,0,.5);
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font: bold 14px Calibri, sans-serif;

    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
