<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="app">
      <div class="container">
        <!-- <div class="sidebar sidebar--open sidebar--short"> -->
        <div class="sidebar sidebar--short">
          <div class="sidebar-header">
            <button class="btn btn-default">|||</button>
          </div>
          <ul class="sidebar-lists">
            <li class="sidebar-list">
              <a href="home.html"
                ><i class="icons">0</i>
                <p>Главная</p></a
              >
            </li>
            <li class="sidebar-list active">
              <a href="/contacts"
                ><i class="indicators">o</i><i class="icons">0</i>
                <p>Книга контактов</p></a
              >
            </li>
            <li class="sidebar-list">
              <a href="#"
                ><i class="indicators">o</i><i class="icons">0</i>
                <p>Todos</p></a
              >
            </li>
          </ul>
          <div class="sidebar-footer">sidebar footer</div>
        </div>
        <div class="content">
          <div class="header">
            <div class="header-head">
              <div class="breadcrumbs">home / contacts</div>
              <h1 class="header-head__title">Книга контактов</h1>
            </div>
          </div>
          <div class="content-body">
            <div class="contacts">
              <table class="contacts-table">
                <thead>
                  <tr>
                    <th><p>#</p></th>
                    <th><p>Имя</p></th>
                    <th><p>Email</p></th>
                    <th><p>Мобильный</p></th>
                    <th><p>Город</p></th>
                    <th><p>Добавить</p></th>
                    <th><p>Удалить</p></th>
                  </tr>
                </thead>
                <!-- <tfoot></tfoot> -->
                <tbody>
                  <tr>
                    <td><a href="contact1.html">1</a></td>
                    <td><a href="contact1.html">Evan You</a></td>
                    <td><a href="contact1.html">evan@you.com</a></td>
                    <td><a href="contact1.html">8941234565</a></td>
                    <td><a href="contact1.html">Москва</a></td>
                    <td>
                      <button class="btn btn-success"><i>0</i>Добавить</button>
                      <p class="contact-added"><i>0</i>Добавлен</p>
                    </td>
                    <td>
                      <button class="btn btn-danger"><i>0</i>Удалить</button>
                      <p class="contact-removed"><i>0</i>Удалён</p>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#">2</a></td>
                    <td><a href="#">Санта Клаусс</a></td>
                    <td><a href="#">hny@hny.com</a></td>
                    <td><a href="#">8941234565</a></td>
                    <td><a href="#">Москва</a></td>
                    <td>
                      <button class="btn btn-success"><i>0</i>Добавить</button>
                      <p class="contact-added"><i>0</i>Добавлен</p>
                    </td>
                    <td>
                      <button class="btn btn-danger"><i>0</i>Удалить</button>
                      <p class="contact-removed"><i>0</i>Удалён</p>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#">3</a></td>
                    <td><a href="#">Марк Макс</a></td>
                    <td><a href="#">mark@company.com</a></td>
                    <td><a href="#">8941234565</a></td>
                    <td><a href="#">Москва</a></td>
                    <td>
                      <button class="btn btn-success"><i>0</i>Добавить</button>
                      <p class="contact-added"><i>0</i>Добавлен</p>
                    </td>
                    <td>
                      <button class="btn btn-danger"><i>0</i>Удалить</button>
                      <p class="contact-removed"><i>0</i>Удалён</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="footer">
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
